.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  background-color: #fff;
  padding: 92px 24px 96px;
  gap: 36px;
  justify-content: center;
  align-items: center;
}

.header__menu {
  display: inline;
  padding-left: 27px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  font-size: 18px;
  font-weight: normal;
  line-height: 21.13px;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
  text-decoration: underline;
  text-underline-position: under;
}

.header__links-list-item_no-bullet {
  list-style: none;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 138px;
  align-self: end;
}

.header__logo-image {
  width: min-content;
}

.address {
  justify-self: flex-end;
  padding-right: 26px;
}

.header__address {
  margin-top: 7px;
  margin-right: 36px;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-position: under;
  font-style: normal;
}

/* второй блок */
.cover {
  width: 100%;
  height: 757px;
  background: url(../images/cover.jpg) no-repeat center / cover;
  position: relative;
  z-index: -2;
}

.overlay {
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  line-height: 1.15;
  letter-spacing: 0.05em;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
  letter-spacing: -1em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.letter-spacing {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  position: relative;
  align-items: center;
  gap: 79px;
  color: #fff;
  left: 78px;
}

.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

/* третий блок сайта */
.lots {
  margin: 179px 24px 0;
  display: grid;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  position: relative;
  z-index: 3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 46.96px;
  color: #000;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  list-style: none;
}

.card {
  position: relative;
  min-height: 100%;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  flex-basis: 334px;
  flex-grow: 1;
  justify-content: space-between;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
  z-index: -2;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
  z-index: -2;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
  z-index: -2;
}

.card_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline solid #fff;
  color: #fff;
  text-transform: uppercase;
}

.card__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: normal;
  line-height: 23.48px;
  color: #000;
  text-decoration: underline solid #000;
}

/* Четвертый блок */
.about {
  margin: 146px 24px 0;
  width: 1052px;
}

.about__column {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 35px 0 320px 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-text {
  margin: 133px 0 13px 118px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__title {
  padding: 3px 0 76px;
  font-size: 40px;
  font-weight: bold;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.01em;
}

/*  Подвал сайта */
.footer {
  position: relative;
  min-width: 1000px;
  min-height: 98px;
  margin: 170px 50px 88px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 185px;
}

.footer__address {
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
  line-height: 24.3px;
  text-align: left;
  font-style: normal;
  text-underline-position: under;
}

.footer__menu-list-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  color: #000;
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}
